<h1><%= t('show.followers') %></h1>
<% @followers.each do |user| %>
  <table>
    <tr>
      <td><%= user.name %></td>
      <td><%= link_to t('follow.profile'), user_path(user) %></td>
    </tr>
  </table>
<% end %>
